In [1]:
import pandas as pd
import numpy as np
#import torch

In [2]:
column_names1 = ['user id','movie id','rating','timestamp']
ratings_dataset = pd.read_csv('./archive/ml-100k/u.data', sep='\t',header=None,names=column_names1)
ratings_dataset.head()

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [4]:
nb_user = len(np.unique(ratings_dataset[["user id"]]))
nb_item = len(np.unique(ratings_dataset[["movie id"]]))

In [7]:


A = np.zeros((nb_user, nb_item))

for i in range(ratings_dataset.shape[0]):
    user_id = int(ratings_dataset.iloc[i]["user id"])
    item_id = int(ratings_dataset.iloc[i]["movie id"])
    rating = float(ratings_dataset.iloc[i]["rating"])
    A[user_id-1, item_id-1] = rating

rows = ["U" + str(i) for i in range(1, nb_user+1)]
cols = ["I" + str(i) for i in range(1, nb_item+1)]

A = pd.DataFrame(A, index=rows, columns=cols)

In [8]:
A

,I1,I2,I3,I4,I5,I6,I7,I8,I9,I10,...,I1673,I1674,I1675,I1676,I1677,I1678,I1679,I1680,I1681,I1682
U1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0